extends ../layout

block paths
	- var content_title= 'ПРОГРАММА: ' + (event.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/admin/lists.js' + version)

block sub_menu
	a.sub_item.back_link(href='/events') Назад
	span.sub_item.toggle_rm Удалить
	.sub_right_block
		input.sub_search.local(type='text', placeholder='Поиск...')

block content
	.title= content_title
	br
	a.add(href='/events/edit/' + event._id + '/program/add') добавить событие
	br
	br
	.lists_block: .list_items
		each item in event.program.children
			.list_item
				a.item_rm.event(href='#', id=item._id.toString()) удалить
				a.item_title(href='/events/edit/' + event._id + '/program/edit/' + item._id.toString())= item.i18n.title.get('ru')