extends ../../layout
include ../forms.jade
include _forms.jade

block title
	title ДОБАВИТЬ СОБЫТИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')
	script(type='text/javascript', src='/build/js/a_events.js')


block content
	.form_block
		a.back_link(href='/admin/events') < Назад
		button.toggle_eng(type='button') перевод
		.title ДОБАВИТЬ СОБЫТИЕ
		form(action="/admin/events/add", method="post")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Коментарий (вместо билета):
			+form_alt_tickets('alt')
			.form_title Место:
			select.area(name='area')
				each area in areas
					option(value=area._id.toString())= area.i18n.title.get('ru')
			!=' / '
			each area in areas
				span.hall
					select(name='hall', disabled=true, class=area._id.toString())
						each hall in area.halls
							option(value=hall._id.toString())= hall.i18n.title.get('ru')

			//- +form_single_select('areas', areas)
			//- !=' / '
			//- +form_single_select('areas', areas)
			.form_title Возраст:
			input(type='text', name='age')
			.form_title Тип:
			select(name='type')
				option(value='exhibition') Выставка
				option(value='event') Событие
			.form_title Участники:
			+form_members_select(members)
			.form_title Категории:
			+form_multiple_select('categorys', categorys)
			.form_title Дата публикации:
			+form_calendar('date')
			br
			br
			input(type='submit', value='отправить')