extends ../layout

block paths
	- var content_title= 'ПОЛЬЗОВАТЕЛИ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/admin/lists.js')

block sub_menu
	a.sub_item.back_link(href='/') < Назад
	span.sub_item.toggle_rm Удалить
	input.sub_search(type='text', placeholder='поиск...')

block content
	.title= content_title
	br
	if (session.status == 'Admin')
		a.add(href='/users/add') добавить пользователя
		br
		br
	.lists_block
		each user in users
			.list_item
				a.item_rm.user(href='#', id=user._id) удалить
				a.item_title(href='/users/edit/' + user._id)= (!user.status ? '*** ' : '') + user.login