extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ УЧАСТНИКА'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')

block sub_menu
	a.sub_item.back_link(href='/members') < Назад
	span.sub_item.toggle_eng Перевод

block content
	include ../../vars.jade
	.form_block
		.title= content_title
		form(action="/members/add", method="post", enctype='multipart/form-data')
			.form_title Имя:
			+form_text_single('name')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Фото:
			input(type='file', name='photo')
			.form_title Роли:
			.snake_outer
				span.snake
					input.back(type="button", value="-")
					select(name='roles')
						each title, role in members_roles
							option(value=role)= title.ru
				input.forward(type="button", value="+")
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden')
			!= ' скрыть'
			br
			br
			input(type='submit', value='отправить')