extends ../../layout

block title
	title УЧАСТНИКИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/') < Назад
	.title УЧАСТНИКИ
	br
	a.add(href='/members/add') добавить участника
	br
	br
	.main_menu_block
		each member in members
			.member
				a.rm_member(href='#', id=member._id)= 'удалить '
				!=' | '
				a(href='/members/edit/' + member._id)= member.i18n.name.get('ru')