extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'РЕДАКТИРОВАТЬ БИЛЕТ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css')

block content_scripts
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/admin/editor.js')
	script(type='text/javascript', src='/build/js/admin/add.js')

block sub_menu
	a.sub_item.back_link(href='/events') Назад

block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Цена:
			input(type='text', name='price', value=ticket.price)
			!=' руб.'
			.form_title Тип:
			select(name='type')
				option(value='base') обычный
				option(value='preferential') льготный
			.form_title Связанные события:
			+form_multiple_select('events', events, ticket.events)
			.form_title Статус:
			input(type='checkbox', name='status', value='expired', checked=ticket.status)
			!= ' просрочен'
			br
			br
			input(type='submit', value='отправить')