extends ../layout

block paths
	- var content_title= 'БИЛЕТЫ: ' + (event.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/admin/lists.js' + version)

block sub_menu
	a.sub_item.back_link(href='/events') Назад
	span.sub_item.toggle_rm Удалить

block content
	.title= content_title
	br
	a.add(href='/tickets/' + event._id + '/add') добавить билет
	br
	br
	.lists_block: .list_items
		each ticket in event.tickets.ids
			.list_item
				a.item_rm.ticket(href='#', id=ticket.id._id) удалить
				a.item_title(href='/tickets/' + event._id + '/edit/' + ticket.id._id)= ticket.id.price + 'р.' + ' -- ' + __(ticket.id.type) + ' ' + (ticket.id.complex ? ' (комплексный)' : '') + ' ' + (ticket.id.status == 'expired' ? '[просрочен]': '')