extends ../layout

block paths
	- var content_title= 'УЧАСТНИКИ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/admin/lists.js' + version)

block sub_menu
	a.sub_item.back_link(href='/') Назад
	span.sub_item.toggle_rm Удалить
	.sub_right_block

		.sub_drop.status(style='z-index: 2;')
			.drop_title Статус
			.drop_inner
				.drop_item(class='all').select Все
				.drop_item(class='default') Обычный
				.drop_item(class='hidden') Скрытый

		.sub_drop.role(style='z-index: 1;')
			.drop_title Роль
			.drop_inner
				.drop_item(class='all').select Все
				each role in static_types.members_roles
					.drop_item(class=role)= __n(role, 1)

		input.sub_search(type='text', placeholder='Поиск...')

block content
	.title= content_title
	br
	a.add(href='/members/add') добавить участника
	br
	br
	.lists_block
		include _members.jade
	a.list_back(href='#'): b назад
	span= ' | '
	a.list_next(href='#'): b вперед