- var members_roles = {'actor': {ru: 'Актеры', en: 'Actors'}, 'director': {ru: 'Режиссеры', en: 'Directors'}, 'artist': {ru: 'Художники', en: 'Artists'}, 'curator': {ru: 'Кураторы', en: 'Curators'} }

- var partners_types = {'tech': {ru: 'Технический', en: 'Technical'}, 'innovation': {ru: 'Инновационный', en: 'Innovation'}, 'information': {ru: 'Информационный', en: 'information'} }

- var partners_ranks = {'organizer': {ru: 'Организатор', en: 'Organizer'}, 'co-organizer': {ru: 'Cоорганизатор', en: 'Co-organizer'}, 'general': {ru: 'Генеральный', en: 'General'}, 'special': {ru: 'Специальный', en: 'Special'}, 'strategic': {ru: 'Стратегический', en: 'Strategic'}, 'sponsor': {ru: 'Спонсор', en: 'Sponsor'}, 'supported_by': {ru: 'При поддержке', en: 'Supported by'}, 'with': {ru: 'Соместно с', en: 'With'} }