extends ../../layout
include ../forms.jade

block title
	title ДОБАВИТЬ КАТЕГОРИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')


block content
	.form_block
		a.back_link(href='/admin/categorys') < Назад
		.title ДОБАВИТЬ КАТЕГОРИЮ
		form(action="/admin/categorys/add", method="post")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Видимость:
			input(type='checkbox', name='status', value='other')
			!= ' скрыть'
			br
			br
			input(type='submit', value='отправить')