extends ../layout

block paths
	- var content_title= 'КАТЕГОРИИ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block sub_menu
	a.sub_item.back_link(href='/') < Назад
	input.sub_search(type='text', placeholder='поиск...')

block content
	.title= content_title
	br
	a.add(href='/categorys/add') добавить категорию
	br
	br
	.lists_block
		each category in categorys
			.list_item
				a.item_rm.category(href='#', id=category._id)= 'удалить '
				!=' | '
				a.item_title(href='/categorys/edit/' + category._id)= category.i18n.title.get('ru')