.role
  margin-bottom 5px

.members_select
  &.hidden
    display none

.members_search
  width 196px

.members_list
  width 360px
  height 200px
  overflow scroll
  border 1px solid black
  .member
    &:hover
      background grey
      cursor default