.members_roles
  width 360px

.role
  margin-bottom 10px
  &:hover
    background-color lightgrey
    cursor move

.rm_member
  margin-right 5px

.members_select
  margin-top 10px
  &.hidden
    display none

.members_search
  width 196px

.members_list
  margin-top 10px
  width 360px
  height 200px
  overflow scroll
  border 1px solid black
  .member
    padding 3px
    &:hover
      background-color lightgrey
      cursor default