.menu_block
	user-select none
	border-bottom 1px solid black
	overflow hidden
	padding-bottom 5px
	a
		margin-right 20px
		font-size 18pt
		display block
		float left
		&.tuzik
			float right
			margin-right 0px

.sub_menu_block
	user-select none
	height 25px
	margin-top 5px
	margin-bottom 20px
	.separator
		margin-right 10px
	.sub_item
		margin-right 10px
		cursor pointer
		&:hover
			color grey

b
	font-size 16px

a
	color black
	font-size 16px
	text-decoration none
	&:hover
		color grey

.form_block
	position relative

input, textarea, select
	font-size 16px

.ru
	width 620px
	display inline-block
	&.input
		width auto

.en
	width 620px
	display none
	margin-left 20px
	&.input
		width auto

.en_img
	display none

.editor
	width 625px
	float left
	margin-right 20px
	margin-bottom 20px
	&:nth-child(3n)
		margin-right 0px
		display none

.title
	margin-top 20px
	font-size 20pt

.form_title
	margin-top 15px
	margin-bottom 15px
	font-size 14pt
	clear both

.form_section
	margin-left 10px
	margin-top 20px
	margin-bottom 20px
	font 14pt/14pt 'Times'
	font-weight bold

.form_submit
	margin-top 5px
	cursor pointer
	&:hover
		text-decoration underline

.footer_block
	display none

.spacer
	display inline-block
	width 10px
	text-align center
	margin-right 5px
	font-size 12pt

.form_images_upload
	width 680px
	min-height 180px
	overflow hidden
	border 1px solid red
	padding 5px

.image_upload_preview
	width 210px
	height 160px
	margin-right 5px
	margin-bottom 5px
	float left
	clear both
	background-size cover
	background-position center

.image_upload_description
	width 214px
	height 154px
	border 1px solid black
	margin 0

.image_upload_delete
	background-color white
	color red
	font-size 14px
	padding 2px
	display inline-block
	cursor pointer
	&:hover
		color white
		background-color red