body
	margin 0
	padding 0

.main_block
	width 1080px
	margin 0 auto

.monitor_panel
	overflow hidden
	border-bottom 1px solid black
	margin-bottom 20px
	padding-bottom 10px
	&.hide
		display none
	.panel_menu
		float left
		margin-right 25px


.flip_block
	margin 0 auto
	width 1080px
	height 1920px
	font 12pt/14pt 'Circe'
	.flip_item
		// background-image url('/images/design/gridinator.png')
		box-sizing border-box
		width 1080px
		height 1920px
		padding 60px
		.flip_header
			overflow hidden
			.flip_date
				float left
				font 14pt/16pt 'Circe'
				.date
					display inline-block
					&:after
						content ','
				.time
					margin-left 5px
					display inline-block
					.time_sep
						opacity 1
						&.hidden
							opacity 0
			.flip_logo
				float right
				.logo
					width 242px
				.logo_title
					font 11pt/14pt 'Circe'
		.flip_area
			margin-top 40px
			overflow hidden
			.area_title
				font 32pt/34pt 'Circe Bold'
				margin-bottom 60px
			.area_location
				float left
			.area_contacts
				// width 234px
				float left
				margin-left 70px
				.phone
				.email
					display inline-block
					margin-right 5px
					&:after
						content ','
					&:last-child
						&:after
							content ''
		.flip_events
			margin-top 80px
			border-top 5px solid black


.event_block
	margin-top 10px
	padding-top 10px
	border-top 1px dotted black
	&:first-child
		padding-top 0px
		border none
	.event_header
		overflow hidden
		font 11pt/13pt 'Circe'
		margin-bottom 10px
		.event_type
			float left
			margin-right 10px
			text-transform uppercase
		.event_categorys
			float left
			text-transform uppercase
			.category
				&:before
					content '●'
					margin-right 10px
		.event_age
			float right
			&:after
				content '+'
	.event_body
		.event_title
			font 16pt/18pt 'Circe Bold'
		.event_members
			overflow hidden
			.member_role
				float left
				&:after
					content ':'
			.member_list
				overflow hidden
				.member_name
					margin-left 5px
					float left
					&:after
						content ','
					&:last-child:after
						content ''