.monitor_panel
	overflow hidden
	border-bottom 1px solid black
	.panel_menu
		float left
		margin-right 25px
	.status
		clear both
		margin-top 15px
		margin-bottom 15px


.flip_block
	margin 50px auto
	width 1080px
	height 350px
	.flip_item
		width 1080px
		height 350px
		background-color #dcdbd8