body
	margin 0
	padding 0

.main_block
	width 1080px
	margin 0 auto

.monitor_panel
	overflow hidden
	border-bottom 1px solid black
	margin-bottom 20px
	padding-bottom 10px
	&.hide
		display none
	.panel_menu
		float left
		margin-right 25px


.flip_block
	margin 0 auto
	width 1080px
	height 1920px
	font 12pt/14pt 'Circe'
	.flip_item
		// background-image url('/images/design/gridinator.png')
		box-sizing border-box
		width 1080px
		height 1920px
		padding 60px
		.flip_header
			overflow hidden
			.flip_date
				float left
				font 14pt/16pt 'Circe'
				.date
					display inline-block
					&:after
						content ','
				.time
					margin-left 5px
					display inline-block
					.time_sep
						opacity 1
						&.tick
							opacity 0
			.flip_logo
				float right
				.logo
					width 242px
				.logo_title
					font 11pt/14pt 'Circe'
		.flip_area
			margin-top 40px
			overflow hidden
			.area_title
				font 32pt/34pt 'Circe Bold'
				margin-bottom 60px
			.area_location
				float left
			.area_contacts
				// width 234px
				float left
				margin-left 70px
				.phone
				.email
					display inline-block
					margin-right 5px
					&:after
						content ','
					&:last-child
						&:after
							content ''
		.flip_events
			margin-top 80px
			border-top 5px solid black


.event_block
	margin-top 10px
	padding-bottom 10px
	border-bottom 1px dotted black
	&.exhibition.last
		border-bottom 5px solid black
	&:last-child
		padding-bottom 0px
		border none
	.event_header
		overflow hidden
		font 10pt/12pt 'Circe'
		margin-bottom 10px
		.event_type
			float left
			text-transform uppercase
		.event_categorys
			float left
			overflow hidden
			text-transform uppercase
			.category
				float left
				&:before
					display block
					float left
					content '●'
					margin-left 7px
					margin-right 7px
		.event_age
			float right
			&:after
				content '+'
	.event_body
		overflow hidden
		.event_body_title
			width 440px
			float left
			.event_title
				font 16pt/18pt 'Circe Bold'
			.event_members
				margin-top 5px
				overflow hidden
				.member_role
					float left
					&:after
						content ':'
				.member_list
					overflow hidden
					.member_name
						margin-left 5px
						float left
						&:after
							content ','
						&:last-child:after
							content ''
		.event_body_schedule
			margin-left 43px
			float left
			.event_halls
				font 16pt/18pt 'Circe Bold'
			.event_interval
				margin-top 5px