extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ ПАРТНЕРА'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')

block sub_menu
	a.sub_item.back_link(href='/partners') < Назад
	span.sub_item.toggle_eng Перевод

block content
	.form_block
		.title= content_title
		form(action="/partners/add", method="post")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Ссылка на сайт:
			input(type='text', name='link')
			.form_title Тип:
			select(name='type')
				option(value='') нет
				option(value='information') информационный
				option(value='innovation') инновационный
				option(value='tech') технический
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden')
			!= ' скрыть'
			br
			br
			input(type='submit', value='отправить')