extends ../../layout
include ../forms.jade

block title
	title ДОБАВИТЬ ЗАЛ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')


block content
	.form_block
		a.back_link(href='/admin/areas') < Назад
		button.toggle_eng(type='button') перевод
		.title ДОБАВИТЬ ЗАЛ
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			br
			br
			input(type='submit', value='отправить')