extends ../layout

block paths
	- var content_title= 'ЗАЛЫ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block sub_menu
	a.sub_item.back_link(href='/areas') < Назад
	input.sub_search(type='text', placeholder='поиск...')

block content
	.title= content_title
	br
	a.add(href='/areas/edit/' + area._id + '/halls/add') добавить зал
	br
	br
	.lists_block
		each hall in area.halls
			.list_item
				a.item_rm.hall(href='#', id=hall._id)= 'удалить '
				!=' | '
				a.item_title(href='/areas/edit/' + area._id + '/halls/edit/' + hall._id)= hall.i18n.title.get('ru')