extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ ПАРТНЕРА'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/build/js/admin/editor.js' + version)
	script(type='text/javascript', src='/build/js/admin/add.js' + version)

block sub_menu
	a.sub_item.back_link(href='/partners') Назад
	span.sub_item.toggle_eng Перевод

block content
	- var partners_types = static_types.partners_types
	.form_block
		.title= content_title
		form(action="/partners/add", method="post", enctype='multipart/form-data')
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Ссылка на сайт:
			input(type='text', name='link')
			.form_title Логотип:
			input(type='file', name='logo')
			.form_title Тип:
			select(name='type')
				option(value='') нет
				each type in partners_types
					option(value=type)= __(type)
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden')
			!= ' скрыть'
			br
			br
			input(type='submit', value='отправить')