extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ ЗАЛ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css')

block content_scripts
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/admin/editor.js')
	script(type='text/javascript', src='/build/js/admin/add.js')

block sub_menu
	a.sub_item.back_link(href='/areas') < Назад
	span.sub_item.toggle_eng Перевод

block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title')
			.form_title Описание:
			+form_text_multi('description')
			br
			br
			input.form_submit(type='submit', value='отправить')