extends ../layout

block paths
	- var content_title= 'ЗАЛЫ: ' + area.i18n.title.get('ru')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/admin/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/admin/lists.js')

block sub_menu
	a.sub_item.back_link(href='/areas') Назад
	span.sub_item.toggle_rm Удалить
	.sub_right_block
		input.sub_search.local(type='text', placeholder='Поиск...')

block content
	.title= content_title
	br
	a.add(href='/areas/edit/' + area._id + '/halls/add') добавить зал
	br
	br
	.lists_block
		each hall in area.halls
			.list_item
				a.item_rm.hall(href='#', id=hall._id) удалить
				a.item_title(href='/areas/edit/' + area._id + '/halls/edit/' + hall._id)= hall.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!'