extends layout

block paths
	- var content_title= 'МАНЕЖ МОНИТОР'
	- var content_description= 'МАНЕЖ МОНИТОР'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/monitors_demo.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.cycle2.min.js' + version)
	script(type='text/javascript', src='/build/js/monitors_demo.js' + version)

block content
	h1 Привет монитор!
	button.update update
	.res
	.flip_block
		.flip_item slide 1
		.flip_item slide 2
		.flip_item slide 3