extends layout

block paths
	- var content_title= 'МАНЕЖ МОНИТОР'
	- var content_description= 'МАНЕЖ МОНИТОР'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/monitors.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.cycle2.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/socket.io-1.3.7.js' + version)
	script(type='text/javascript', src='/build/js/monitors.js' + version)

block content
	.monitor_panel
		h1 МАНЕЖ МОНИТОР!
		.panel_menu
			span Соединение:
			button.connect connect
			select.area_select
				each area in areas
					option(value=area._id.toString())= area.i18n.title.get('ru')
			button.update update
		.panel_menu
			span Слайдшоу:
			button.play play
			button.pause pause
			button.back= '<< back'
			button.next= 'next >>'
		.panel_menu
			span Настройки:
			button.reload reload
		.status
	.flip_block