extends ../layout

block paths
	- var content_title= 'МАНЕЖ МОНИТОР'
	- var content_description= 'МАНЕЖ МОНИТОР'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/monitors.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/socket.io-1.3.7.js' + version)
	script(type='text/javascript', src='/build/js/monitors.js' + version)

block content
	h1 МАНЕЖ МОНИТОР!
	button.start start
	button.stop stop
	button.clear clear
	button.reload reload
	br
	br
	.res