extends layout

block paths
	- var content_title= 'МАНЕЖ МОНИТОР'
	- var content_description= 'МАНЕЖ МОНИТОР'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/stats.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/socket.io-1.3.7.js' + version)
	script(type='text/javascript', src='/build/libs/js/stats.js' + version)

block content
	h1 Статистика мониторов