.tuzik
	font-weight bold
	cursor pointer
	&:hover
	&.selected
		color red

.tuzik_form
	position absolute
	margin-top -5px
	margin-left 3px
	&.hidden
		display none
	.tuzik_input
		width 160px
		font-size 10pt