//- Types

- var members_roles = ['members', 'guests', 'speakers', 'lecturers', 'guides', 'curators', 'teachers', 'artists', 'architects', 'musicians', 'readers']

- var partners_types = ['tech', 'innovation', 'information']

- var partners_ranks = ['organizer', 'co-organizer', 'general', 'special', 'strategic', 'sponsor', 'supported_by', 'with']

- var event_types = ['exhibition', 'photo_exhibition', 'film_screening', 'concert', 'lecture', 'round_table', 'excursion', 'performance', 'childrens_performance', 'creative_evening', 'literary_evening', 'citywide_campaign', 'forum', 'master_class']