@-webkit-keyframes barsuk {
	0% { background-position: 0 0; }
	100% { background-position: 100% 0; }
}

body
	margin 0
	padding 0
	&.barsuk
		-webkit-animation: barsuk 8s linear infinite;
		background-image url('/stuff/monitors/backgrounds/barsuk.jpg')
		background-size 20%
		.main_block
			background-color rgba(255, 255, 255, 0.9)

.main_block
	width 1080px
	margin 0 auto

.monitor_panel
	overflow hidden
	margin-left 60px
	margin-right 60px
	margin-bottom 20px
	padding-top 15px
	padding-bottom 10px
	border-bottom 1px dashed black
	&.hide
		display none
	.logo
	.panel_menu
		display block
		float left
		margin-right 25px
		&:last-child
			margin-right 0
	.logo
		text-decoration none
		color black
		&:hover
			color red



.flip_outer
	margin 0 auto
	width 1080px
	height 1920px
	// background-color grey
	overflow hidden
	white-space nowrap
	vertical-align top
	.flip_inner
		display inline-block
		margin-right -4px
		height 1920px
		.flip_area
			// background-image url('/stuff/monitors/gridinator.png')
			// background-color green
			width 1080px
			height 1920px
			display inline-block
			font-size 0
			overflow hidden
			white-space nowrap
			vertical-align top
			.area_inner
				display inline-block
				font-size 0
				height 1920px
				.flip_lang
					display inline-block
					font-size 0
					width 1080px
					white-space nowrap
					vertical-align top
					.flip_header
						// background-color red
						box-sizing border-box
						width 960px
						height 400px
						margin-left 60px
						margin-right 60px
						margin-bottom 20px
						padding-top 60px
						border-bottom 5px solid black
						.header_title
							overflow hidden
							margin-bottom 40px
							.header_date
								float left
								font 14pt/16pt 'Circe'
								.date
									display inline-block
								.time
									margin-left 3px
									display inline-block
									.time_sep
										opacity 1
										&.tick
											opacity 0
							.header_logo
								float right
								.logo
									width 242px
								.logo_title
									margin-top 4px
									font 11pt/14pt 'Circe'
						.header_contacts
							font 14pt/16pt 'Circe'
							.area_title
								font 32pt/34pt 'Circe Bold'
								margin-bottom 60px
							.area_location
								float left
							.area_contacts
								// width 234px
								float left
								margin-left 40px
								.phone
								.email
									display inline-block
									margin-right 5px
									&:after
										content ','
									&:last-child
										&:after
											content ''
					.flip_events
						height 620px  // 1520px
						-webkit-column-width 1080px
						-webkit-column-gap 0px
						overflow hidden



.event_block
	font 14pt/16pt 'Circe'
	-webkit-column-break-inside avoid
	page-break-inside avoid
	break-inside avoid
	width 960px
	margin-left 60px
	margin-right 60px
	margin-bottom 20px
	padding-bottom 20px
	border-bottom 1px dotted black
	.event_header
		overflow hidden
		margin-bottom 10px
		.event_type
			font 12pt/14pt 'Circe'
			float left
			text-transform uppercase
		.event_categorys
			font 12pt/14pt 'Circe'
			float left
			overflow hidden
			text-transform uppercase
			.category
				float left
				&:before
					display block
					float left
					content '●'
					margin-left 7px
					margin-right 7px
		.event_age
			font 12pt/14pt 'Circe'
			float right
			&:after
				content '+'
	.event_body
		overflow hidden
		white-space normal
		.event_body_title
			// background-color rgba(235, 190, 85, 1)
			box-sizing border-box
			padding-right 60px
			width 476px
			float left
			.event_title
				font 18pt/20pt 'Circe Bold'
			.event_members
				margin-top 8px
				overflow hidden
				.member_role
					margin-right 5px
					display inline-block
					&:after
						content ':'
				.member_list
					display inline
					overflow hidden
					.member_name
						display inline-block
						&:after
							margin-right 5px
							content ','
						&:last-child:after
							content ''
							margin-right 0px
		.event_body_schedule
			width 234px
			margin-left 8px
			float left
			.event_halls
				font 18pt/20pt 'Circe Bold'
			.event_interval
				margin-top 8px
		.event_tickets
			float left
			width 234px
			margin-left 8px