.slider_block
	width 100%
	height 100%
	overflow scroll
	position relative

.slider_block, .slide_item, .slide_lang
	height 100%
	display inline-block
	white-space nowrap
	vertical-align top
	position relative
	font-size 0

.slide_inner
	width 100%
	height 100%
	// background-image url('/stuff/monitors/gridinator.png')
	background #fc0
	display table
	position relative
	padding-top 60px
	padding-bottom 60px
	box-sizing border-box

.slide_header, .slide_content, .slide_footer
	display table-row
	position relative
	font-size 12pt

// .head_item
// 	width 100%
// 	height 40px
// 	background-color brown
// 	padding-left 20px
// 	padding-right 20px
// 	box-sizing border-box

.content_inner
	height 100%
	position relative
	vertical-align top
	display table-cell
	background-color green
	overvlow scroll

.inner_events
	height 100%
	position absolute
	overflow scroll
	display inline-block
	white-space nowrap
	vertical-align top
	-webkit-column-width 1080px
	-webkit-column-gap 0px
	padding-top 10px
	border-top 5px solid black

// .event_item
// 	width 100%
// 	height 60px
// 	background-color maroon
// 	margin-bottom 10px
// 	-webkit-column-break-inside avoid
// 	padding-left 20px
// 	padding-right 20px
// 	box-sizing border-box

.slide_footer
	font 18pt/20pt 'Circe Bold'
	background #f00
	text-align right

.footer_inner
	padding-top 10px










// .flip_outer
// 	width 1080px
// 	white-space nowrap
// 	vertical-align top
// 	display inline-block
// 	position relative
// 	font-size 0
// 	overflow hidden
// 	.flip_inner
// 		white-space nowrap
// 		vertical-align top
// 		display inline-block
// 		font-size 0
// 		position relative
// 		.flip_area
// 			background-image url('/stuff/monitors/gridinator.png')
// 			width 1080px
// 			height 1920px
// 			display table
// 			position relative
// 			.area_inner
// 				display inline-block
// 				font-size 0
// 				position relative
// 				.flip_lang
// 					display inline-block
// 					font-size 0
// 					width 1080px
// 					white-space nowrap
// 					vertical-align top
// 					position relative
// 					.flip_header
// 						display table-row
// 						overflow hidden
// 						box-sizing border-box
// 						width 960px
// 						margin-left 60px
// 						margin-right 60px
// 						margin-bottom 20px
// 						padding-top 60px
// 						padding-bottom 15px
// 						border-bottom 5px solid black
// 					.flip_events
// 						position relative
// 						display table-row
// 						overflow hidden
// 						.events_outer
// 							vertical-align top
// 							display table-cell
// 							height 100%
// 							.events_inner
// 								position absolute
// 							  display inline-block
// 							  white-space nowrap
// 							  vertical-align top
// 								-webkit-column-width 1080px
// 								-webkit-column-gap 0px
// 					.flip_footer
// 						display table-row
// 						height 40px
// 						-webkit-column-width 1080px
// 						-webkit-column-gap 0px
// 						overflow hidden
// 						font 18pt/20pt 'Circe Bold'
// 						text-align right
// 						padding-right 60px
// 						padding-left 60px