.slider_block
	width 100%
	height 100%
	overflow scroll
	position relative

.slider_block, .slide_item, .slide_lang
	height 100%
	display inline-block
	white-space nowrap
	vertical-align top
	position relative
	font-size 0

.slide_inner
	width 100%
	height 100%
	background-image url('/stuff/monitors/gridinator.png')
	display table
	position relative
	padding-top 60px
	padding-bottom 60px
	box-sizing border-box

.slide_header, .slide_content, .slide_footer
	display table-row
	position relative
	font-size 12pt

.header_inner
	padding-bottom 60px
	overflow hidden
	border-bottom 5px solid black
	margin-left 60px
	margin-right 60px
	box-sizing border-box

.content_inner
	height 100%
	position relative
	vertical-align top
	display table-cell
	overvlow scroll

.inner_events
	height 100%
	position absolute
	overflow scroll
	display inline-block
	white-space nowrap
	vertical-align top
	column-width 1080px
	column-gap 0px
	padding-top 18px

.slide_footer
	font 18pt/20pt 'Circe Bold'
	text-align right

.footer_inner
	padding-top 10px
	padding-right 60px
