extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ БИЛЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.min.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.min.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.min.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/admin/events') < Назад
		.title РЕДАКТИРОВАТЬ БИЛЕТ
		form(action="", method="post")
			.form_title Цена:
			input(type='text', name='price', value=ticket.price)
			!=' руб.'
			.form_title Тип:
			select(name='type')
				option(value='base') обычный
				option(value='preferential') льготный
			.form_title Связанные события:
			+form_multiple_select('events', events, ticket.events)
			.form_title Статус:
			input(type='checkbox', name='status', value='expired', checked=ticket.status)
			!= ' просрочен'
			br
			br
			input(type='submit', value='отправить')