extends ../layout

block paths
	- var content_title= 'БИЛЕТЫ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block sub_menu
	a.sub_item.back_link(href='/events') < Назад

block content
	.title= content_title
	br
	a.add(href='/events/edit/' + event._id + '/tickets/add') добавить билет
	br
	br
	.main_menu_block
		each ticket in event.tickets.ids
			.ticket
				a.rm_ticket(href='#', id=ticket._id)= 'удалить '
				!=' | '
				a(href='/events/edit/' + event._id + '/tickets/edit/' + ticket._id)= ticket.price + 'р.' + ' - ' + ticket.type + ' ' + (ticket.events.length > 1 ? ' (complex)' : '') + ' ' + (ticket.status == 'expired' ? '[expired]': '')